    <div id="confirmation-content">
      <p class="content-indent"><b>Order summary</b></p>
      <table class="fill-100 small-font">
        <tr>
          <td class="text-right">Item Subtotal</td>
          <td class="text-right content-indent"><div id="confirm-subtotal">$$subtotal</div></td>
        </tr>
        <tr>
          <td class="text-right">Estimated Shipping</td>
          <td class="text-right content-indent">$9.99</td>
        </tr>
        <tr>
          <td class="text-right">Tax (CA)</td>
          <td class="text-right content-indent">$8.00</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="text-right"><b>Total</b></td>
          <td class="text-right content-indent"><b>$$totalPrice</b></td>
        </tr>
      </table>
      <hr />
      <p class="content-indent"><b>Payment Information</b></p>
    </div>
    <div class="ui-content">
      <p class="subtitle">
        Buy with: <img src="/img/GreyLogo124_26.png"></img>
      </p>
      <table class="payment-table">
        <tbody><tr>
          <td class="payment-table-left" id="conbilling">$buyerEmail<br /> $buyerBilling</td>

          <td class="payment-table-right">
          <div class="ui-btn ui-shadow ui-btn-up-c">
          <span id="change_payment" class="ui-btn-inner" onclick="changeMaskedWallet();">
            <span class="ui-btn-text">Change</span>
          </span>
          </div>
          </td>
        </tr>
        </tbody>
      </table>
      <hr />
      #if($shippingName)
      <p class="subtitle">Ship to:</p>
      <table class="payment-table">
        <tbody><tr>
          <td class="payment-table-left" id="conshipping">$shippingName <br />$shippingAddress1
            <br />$shippingCity, $shippingState <br /> $shippingPost</td>

          <td class="payment-table-right">
          <div class="ui-btn ui-btn-up-c ui-shadow">
            <span id="change_shipping" class="ui-btn-inner" onclick="changeMaskedWallet();">
              <span class="ui-btn-text">Change</span>
            </span>
          </div>
          </td>
        </tr>
      </tbody></table>
      #end
    </div>
    <div class="button-style-large">
      <div class="ui-btn ui-shadow ui-btn-hover-a ui-btn-down-a">
        <span id="place_order" class="ui-btn-inner" onclick="requestFullWallet()">
          <span class="ui-btn-text">Place order</span>
        </span>
      </div>
    </div>
    <div  id="confirmation-content-bottom" class="ui-content" role="main">
      <p class="content-indent" id="camera_name">Camera XY000 </p>
      <div>
      <table class="small-font fill-100"><tbody>
      <tr>
        <td align="right" class="fill-30 padding-10"><span><img id="camera_img" src="/$itemImage"></span></td>
        <td>
          <label class="content-indent">Quantity $itemQuantity</label><br><br>
          <span class="content-indent">$itemName</span>
        </td>
        <td class="text-right content-indent"><br><br>$$subtotal</td></tr>
      </tbody></table>
      </div>
    </div>
    <pre id="masked-response-jwt" class="jwtContent">$outputJwt</pre>

    <!-- Form used to continue the purchase flow by posting fullWallet response to the server -->
    <form id="placeOrderForm" name="placeOrderForm" action="receipt" method="post">
      <input type="hidden" name="fullWallet" id="fullWallet">
      <input type="hidden" name="pan" id="pan">
      <input type="hidden" name="cvn" id="cvn">
      <input type="hidden" name="subtotal" id="subtotal" value="$subtotal">
    </form>

    <!-- Form used to change the maskedWallet information -->
    <form id="updateCredentialsForm" name="updateCredentialsForm"
      action="confirm" method="post">
      <input type="hidden" name="maskedWallet" id="maskedWallet">
      <input type="hidden" name="changeJwt" id="changeJwt" value="$changeJwt">
      <input type="hidden" name="itemId" id="itemId" value="$itemId">
      <input type="hidden" name="quantity" id="quantity" value="$itemQuantity">
    </form>
    <script type="text/javascript">
    /**
     * Calls ChangeMaskedWallet using the change JWT generated from the server.
     * This allows pops up the choose to allow the user to edit their payment or
     * shipping selection.
     * @param {String} changeJwt the jwt.
     */
    function changeMaskedWallet() {
      jQuery('#pageLoadingSpinner').show();
      google.wallet.online.changeMaskedWallet({
        'jwt' : "$changeJwt",
        'success' : changeMaskedWalletSuccessCallback,
        'failure' : changeMaskedWalletFailureCallback
      });
    }

    /**
     * Masked Wallet request success handler. This function handles success
     * maskedWallet response and post the information to the server.
     *
     * @param {object} param The MaskedWalletResponse.
     */
    function changeMaskedWalletSuccessCallback(param) {
      jQuery('#pageLoadingSpinner').hide();
      jQuery('#maskedWallet').val(param.jwt);
      jQuery('#updateCredentialsForm').submit();
    }
    /**
     * Masked Wallet Request failure handler. You should implement your
     * error handling code here.
     *
     * @param {Object} param Defines the code and details of why the request failed.
     */
    function changeMaskedWalletFailureCallback(param) {
      jQuery('#pageLoadingSpinner').hide();
      alert('error: ' + param.error + ', details: ' + param.details);
      console.log('change masked wallet failure callback called' + param.error +
        ', details: ' + param.details);
    }

    /**
     * Full Wallet Request requests the one time card number from Wallet.
     * This is called when the customer confirms the purchase. Below we're using
     * the wallet request JWT generated from the server.
     * @param {String} fullWalletJwt the jwt.
     */
    function requestFullWallet() {
      jQuery('#pageLoadingSpinner').show();
      google.wallet.online.requestFullWallet({
        'jwt' : "$fullWalletJwt",
        'success' : requestFullWalletSuccessCallback,
        'failure' : requestFullWalletFailureCallback
      });
    }
    /**
     * Handles the Full Wallet Request success case. The parameter passed to this
     * callback contains the credit card number and Full Wallet Response object.
     * This information will be posted to the server to complete the purchase flow.
     *
     * @param {Object} param Full Wallet Response object.
     */
    function requestFullWalletSuccessCallback(param) {
      jQuery('#fullWallet').val(param.jwt);
      jQuery('#pan').val(param.pan);
      jQuery('#cvn').val(param.cvn);
      jQuery('#placeOrderForm').submit();
    }
    /**
     * Full Wallet Request failure handler. You should implement your error
     * handling code here.
     *
     * @param {Object} param Defines the code and details of why the request failed.
     */
    function requestFullWalletFailureCallback(param) {
      jQuery('#pageLoadingSpinner').hide();
      alert('error: ' + param.error + ', details: ' + param.details);
      console.log('full wallet failure callback called' + param.error +
        ', details: ' + param.details);
    }
    </script>
