  ## This closes the fullpage div which starts in header.vm
  </div>
  <div id="pageLoadingSpinner" class="ui-loader ui-corner-all ui-body-a ui-loader-verbose">
    <span class="ui-icon ui-icon-loading"></span>
    <h1>loading</h1>
  </div>
  <script type="text/javascript" src="/js/cookies.js"></script>
  <script type="text/javascript" src="/js/wallet.js"></script>
  <script type="text/javascript" src="/js/sso.js"></script>
  <script type="text/javascript">
  jQuery("#fullpage").css('min-height',jQuery(window).height());
  </script>
</body>
</html>
