    <div role="main" class="ui-content" id="camera-content">
    <p class="content-indent" id="camera_name">Camera XY000</p>
    <div>
      <table class="fill-100 small-font">
      <tbody>
        <tr>
          <td class="fill-60">
            <img class="fill-100" id="camera_img" src="/$itemImage">
          </td>
          <td class="fill-40"><label class="drop-padding-match">Quantity</label>
            <div class="ui-select">
              <div class="ui-btn ui-btn-up-c ui-shadow ui-btn-inline ui-btn-icon-right">
                <span class="ui-btn-inner">
                  <span class="ui-btn-text"><span>1</span></span>
                  <span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span>
                </span>
                <form id="orderForm" name="orderForm" action="order" method="post">
                  <select name="quantity">
                    <option value="standard">$itemQuantity</option>
                  </select>
                  <input type="hidden" name="itemId" value="$itemId">
                </form>
              </div>
            </div><br>
            <span class="drop-padding-match">$$itemPrice</span>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
    </div>

    <div class="button-style-large">
      <div class="ui-btn ui-btn-up-a ui-shadow">
        <span onclick="document.forms['orderForm'].submit();" class="ui-btn-inner">
          <span class="ui-btn-text">Add to cart</span>
        </span>
      </div>
    </div>

    <div role="main" class="ui-content" id="camera-content2">
      <p class="content-indent" id="camera_name">Product highlights</p>
      <ul id="item_details" class="content-indent padding-10 small-font">
        <li id="camera_desc">$itemDescription</li>
        #if($itemDescription2) <li id="camera_desc">$itemDescription2</li> #end
      </ul>
    </div>

