    <div role="main" class="ui-content">
      <div id="home-menu">
        <ul class="ui-listview" id="category-list">
        #foreach( $item in $items )
          <a href="item?itemId=$item.getId()">
          <li class="ui-li ui-li-static ui-btn-up-d ui-li-has-thumb" id="item${item.getId()}">
          <img class="float-right total-padding-top ui-li-thumb" src="/$item.getImageUrl()"><br>
          $item.getName()<br>
          <font color="gray">$$item.getPrice()</font>
          </li>
          </a>
        #end
      </div>
    </div>
