<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
<title>XYZ Inc</title>

  <link rel="stylesheet" href="css/jquery.mobile-1.2.0.min.css" type="text/css">
  <link rel="stylesheet" href="css/jquery.mobile.theme-1.2.0.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" />
  <script type="text/javascript" src="$walletJSUrl"></script>
  <script type="text/javascript">
    /*Credentials rendered on the server by Velocity*/
      var clientId = "$clientId";
  </script>
  <script type="text/javascript" src="js/jquery_1_8_2_do_not_compile.js"></script>
  <script type="text/javascript" src="js/jquery_cookie.js"></script>
</head>
<body>
  <div id="fullpage" class="ui-body-c ui-page-active">
    <div role="banner" class="ui-header ui-bar-b" id="header">
      <div id="login-widget">
        <ul id="menu-left">
          <li>
          #if(!$email)
          <span class="ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b" onclick="Xyz.App.login()()">
            <span class="ui-btn-inner ui-btn-corner-all">
              <span class="ui-btn-text">Login</span>
            </span>
          </span>
          #else
          <span>$truncEmail</span>
            <ul>
              <li onclick="Xyz.App.logout()" class=
              "logout"><a href="#" class="logout-button"></a> Sign
              out</li>
            </ul>
          #end
          </li>
        </ul>
      </div>

      <div class="center">
        <span class="title">XYZ, Inc.</span>
      </div>
    </div>
